# Database connection string
DATABASE_URL=postgres://user:password@localhost:5432/zf45

# Initial Admin User
ADMIN_EMAIL=admin@zoneforty5.tech
ADMIN_PASSWORD_HASH=$argon2id$v=19$m=65536,t=3,p=4$c2FtcGxlc2VlZA$yourpasswordhash
ADMIN_NAME=Admin
